.video {
  position: absolute;
  top: 0;
  z-index: -1;

  .content__video {
    width: 100%;
  }

  &__overflow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(68, 0, 255, 0.199);
  }
}
